@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #eaea57;
    --color-brand2: #39722b;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

/* #deff58 */
body {
    background-image: linear-gradient(to right top, #635641, #534835, #433b2a, #342e1f, #262215, #262215, #262215, #262215, #342e1f, #433b2a, #534835, #635641);
    font-family: var(--font-base), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    /* background-color: black; */
    color: blanchedalmond;
}

img {
    width: 100%;
}

.text-brand {
    color: rgb(83 196 241 / 90%);
}

.bg-base {
    background-color: rgb(7, 140, 192);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.shadow-effect {
    transition: 0.5s;
}

.shadow-effect:hover {
    box-shadow: -12px 6px 0 0 var(--color-brand);
}

.iconbox {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-brand);
    color: var(--color-base);
}

/* NAVBAR */
.navbar {
    background-color: hsl(0deg 14% 17%);
    opacity: 0.9;
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link:hover {
    color: rgb(214, 83, 83);
}

.navbar .nav-link.active {
    color: rgb(214, 83, 83);
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background: url(../images/sidbar-img1.jpg);
        background-size: cover;
        background-position: center;
        object-fit: cover;
        opacity: 1;
    }

    .navbar-brand img {
        border: 8px solid hsl(197deg 100% 38%);
        ;
    }

    /* CONTENT WRAPPER */
    #content-wrapper {
        padding-left: var(--sidbar-width);
    }
}

/* BTN */
.btn {
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand {
    background-color: rgb(83 196 241 / 90%);
    color: white;
}

.btn-brand:hover,
.btn-brand:focus {
    color: whitesmoke;
}

.link-custom {
    font-weight: 700;
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}

/* CARD */
.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(0.9);
}

/* CONTACT */
#contact .form-control {
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
}

#contact .form-control:focus {
    border-color: var(--color-brand);
    box-shadow: none;
}

#contact .form-control::placeholder {
    color: var(--color-body);
}

#contact input.form-control {
    height: 44px;
}

/* SOCIAL ICONS */
.social-icons {}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 100px;
    font-size: 24px;
}

p {
    color: #ffffff !important;
    text-align: center;
    font-size: 1rem;
}

.cards {
    width: 400px;
    height: min-content;
    object-fit: contain;
}

.card>img {
    width: 100px;
    height: 100px;
}

.Skills {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    ;
    gap: 4rem;
}

.imgs {
    background-color: hsl(0deg 14% 17%);
    border-radius: 1rem;
    padding: 1rem;
}